<div [hidden]="submited">
    <form #petForm="ngForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" required [(ngModel)]="model.name" name="name">
        </div>
        <div>
            <label for="specie">Specie</label>
            <select id="specie" required [(ngModel)]="model.species" name="specie">
                <option *ngFor="let specie of species" [value]="specie">{{specie}}</option>
            </select>
        </div>
        <button [disabled]="!petForm.form.valid" type="submit">Submit</button>
    </form>
</div>
<div [hidden]="!submited">
    <h2>You submited: </h2>
    <p>Name: {{model.name}}</p>
    <p>Specie: {{model.species}}</p>
    <button (click)="submited = false">Edit</button>
</div>
